
body {
	background-color: #ECECEA;
	color: #558C89;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	data-spy="scroll";
}

.container-fluid {
	padding: 0;
}

.row {
	padding-right: 0;
	padding-left: 0;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

#header {
	height: 100vh;
	position: relative;
	padding-top: 6vh;
}

.title {
	min-height:80vh;
	padding-left: 7%;
	padding-right: 7%;
}

.main-title {
	padding-bottom: 2%;
}

.subtitle {
	padding-bottom: 3%;
}


h1 {	
	font-weight: 900;
	color: #D9853B;	
	font-size: 8vw;
}

h2 {
    font-weight: 900;
    font-size: 5vw;
}

p {
	font-size: 3vw;
}

h3 {
	color: #D9853B;
	font-size: 8vw;
	font-weight: 900
}


.scroll-down {
	height: 20vh;
	background-color: #558C89;
	color: #ECECEA;
	border: 0px;
}

.nav-icon {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 0px;
}



.scroll-down a:link {
	color: #74AFAD;
}

.scroll-down a:visited {
	color: #74AFAD;
}

.scroll-down a:hover {
	color: #558C89;
}

.nav-icon:hover {
	background-color: #74AFAD;
}

#about {
	padding: 0px;
	color: #ECECEA;
	padding-top: 6px;
	padding-bottom: 0px;
	background-color: #558C89;
	width: 100%;
	position: relative;
	bottom: 0px;
}

.intro {
	width: 100%;
	min-height: 12vh;
	padding-top: 1%;
	padding-bottom: 5%;
	font-weight: 900;
	padding-left: 7%;
	padding-right: 7%;
}


.btn-info {
	background: #558C89;
	border: 0px;
	font-size: 2.5vw;
	font-weight: 900;
}


.btn-info.active.focus, .btn-info.active:focus, .btn-info.focus, .btn-info:active.focus, .btn-info:active:focus, .btn-info:focus, .btn-info:hover {
    outline: 0;
    background: #558C89;
    border: 0;
    -webkit-box-shadow: none;
          box-shadow: none;
}

.filled-column {
	position: relative;
    max-width: 100%;
    padding: 0px;
    margin: 0px;

}

.description {
	position: absolute;
	top: 0px;
	width: 100%;
	min-height: 100%;
	background: #558C89;
	color: #ECECEA;
	opacity: 0;
}

.filled-column:hover .description {
	opacity: 0.52;
}

#contact {
	position: relative;
	height: 100vh;
	background-color: #ECECEA;
	color: #558C89;
}

#contact p {
	font-size: 4vw;
}

i {
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;

}

.how-to-connect {
	height: 94vh;
}

.connect {
	padding-top: 10vh;
}

.connect-icons {
	padding-top: 10vh;
	padding-bottom: 10vh;
}

a:link {
    color: #D9853B;
}
a:visited {
	color: #D9853B;
}
a:hover {
	color: #558C89;
}

#copyright {
	position: absolute;
	bottom: 0px;
	background-color: #558C89;
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 0px;	
	width: 100%;
	height: 6vh;
}

#copyright p {
	font-size: 10px;
	color: #ECECEA;
}

#copyright a {
	color: #ECECEA;
	text-decoration: underline;
}

#copyright a:hover {
	color: #D9853B;
}


.dropdown {
    position: fixed;
    right: 5%;
    top: 5%;
    z-index: 5;
    opacity: 1;

}

.dropdown i {
	color: #ECECEA;
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 0px;
}

.btn-default {
	color: #ECECEA;
	background: #558C89;
	border: 0px;
}

.btn-default:hover {
	background: #D9853B;
}